@model Pz_Proj_11_12.Models.Meeting

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />

<form asp-action="Edit" class="edit-table-form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />

    <table class="details-table">
        <tr>
            <th><label asp-for="Name" class="control-label"></label></th>
            <td>
                <input asp-for="Name" class="form-control details-input" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <th><label asp-for="Description" class="control-label"></label></th>
            <td>
                <input asp-for="Description" class="form-control details-input" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <th><label class="control-label">Meeting's priority level</label></th>
            <td>
                <select asp-for="PriorityId" class="form-control details-select" asp-items="ViewBag.PriorityId"></select>
                <span asp-validation-for="PriorityId" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <th><label asp-for="Location" class="control-label"></label></th>
            <td>
                <input asp-for="Location" class="form-control details-input" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <th><label class="control-label">Start time</label></th>
            <td>
                <input asp-for="StartTime" class="form-control details-input" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <th><label asp-for="EndTime" class="control-label">End time</label></th>
            <td>
                <input asp-for="EndTime" class="form-control details-input" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <th><label class="control-label">Day of the week</label></th>
            <td>
                <select asp-for="DayId" class="form-control details-select" asp-items="ViewBag.DayId"></select>
                <span asp-validation-for="DayId" class="text-danger"></span>
            </td>
        </tr>
    </table>

    <div class="details-buttons">
        <button type="submit" class="details-btn details-btn-save">
            <i class="fas fa-check"></i> Save
        </button>
        <a asp-action="Index" class="details-btn">Back</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
